.bg-blue-gojek {
    background-color: #0aafd9 !important;
}
.border-blue-gojek {
    border-color: #0aafd9 !important;
}
.text-blue-gojek {
    color: #0aafd9 !important;
}
.bg-green-gojek {
    background-color: #00aa13 !important;
}
.border-green-gojek {
    border-color: #00aa13 !important;
}
.text-green-gojek {
    color: #00aa13 !important;
}
